<!DOCTYPE html>
<html xmlns:th="https://www.thymelead.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Inicio</h1>
        <br/>
        <div th:if="${personas != null and !personas.empty}">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Telefono</th>
                </tr>

                <tr th:each="persona: ${personas}">
                    <td th:text="${persona.nombre}">Nombre</td>
                    <td th:text="${persona.apellido}">Apellido</td>
                    <td th:text="${persona.email}">Email</td>
                    <td th:text="${persona.telefono}">telefono</td>
                </tr>
            </table>
        </div>
        <div th:if="${personas == null or personas.empty}">
            La lista de personas esta vacia
        </div>
    </body>
</html>
